
<div class="card text-center padding-bottom">
  {{#each blogs as |blog|}}
  <div class="card-body">
    <h4 class="card-title">{{blog.title}}</h4>
    <p class="card-text">
      {{blog.description}}
    </p>
    <a href="/blog/{{blog.id}}" class="btn btn-primary">Heres More</a>
  </div>
  <div class="card-footer text-muted">By {{blog.user.name}} {{format_date blog.date_created}}</div>
  {{/each}}
</div>


<script src="/js/blog.js"></script>